/* MOBILE AND GLOBAL STYLES */
/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
body {
  margin: 0px;
  background: #1a1a1a;
  color: #b3b3b3;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.FN_headline {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.FN_report {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.FN_NewsCard {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.CSGO_headline {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.CSGO_report {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.CSGO_NewsCard {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.socials {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.menu {
  background: #555;
  text-align: left;
  color: #fff;
  line-height: 2em;
}

.menu-toggle {
  display: flex;
}

nav {
  box-shadow: 0 1px 1px 0 black;
  display: none;
  justify-content: center;
  min-width: 500px;
  flex-direction: column;
  overflow: hidden;
  background-color: #333;
  position: relative;
  font-family: 'Poppins', sans-serif;
  justify-content: flex-start;
  background: linear-gradient(to bottom, rgba(53, 53, 53, 1) 0%, rgba(38, 38, 38, 1) 100%);
}

nav a {
  padding: 1.25em 1.5em;
  text-decoration: none;
  transition: all 1.5s;
  padding: 0.75em 2.5em;
  color: white;
  background: linear-gradient(to bottom, rgba(63, 29, 99, 1) 0%, rgba(47, 0, 76, 1) 100%);
  text-decoration: none;
  transition: all 1.5s;
  display: inherit;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

nav a:hover {
  color: black;
  background: #bcb5e0;
}

/* mobile styles */
@media screen and (max-width: 500px) {
  #slideshow-container {
    display: none;
    visibility: hidden;
  }

  .dot {
    visibility: hidden;
  }

  .ArticeCard_Container {
    display: none;
  }

  .image_box img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align: middle;
  }

  .image_collage {
    max-width: 80vw;
    max-height: 60vh;
    overflow: hidden;
  }

  .image_box_caption {
    top: 35vw;
  }

  h1 {
    font-size: 2em;
    text-align: center;
  }

  h2 {
    font-size: 0.4em;
  }

  .CSGO_grid-container {
    display: grid;
    grid-template-columns: 400px auto auto;
  }

  .CSGO_headline {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .CSGO_report {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .CSGO_NewsCard {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

/* TABLET STYLES */
@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  body {
    background: #1a1a1a;
    margin-top: 180px;
  }

  .menu {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* just change the menu colours on hover above mobile widths */
  nav a:hover {
    color: #dfd;
    background: #797;
  }

  h1 {
    font-size: 3em;
    text-align: center;
  }

  .FN_grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }

  .CSGO_grid-container {
    display: grid;
    grid-template-columns: 400px auto auto;
  }
}

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */
  body {
    background-color: #1a1a1a;
    margin-top: 150px;
  }
}

p {
  padding-left: 15px;
}

h1 {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  -webkit-text-stroke: 1px #b3b3b3;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

h2 {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Raleway', sans-serif;
}

h3 {
  padding-left: 15px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  font-weight: bold;
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
}

h1:root {
  font-size: calc(1vw + 1vh + .5vmin);
}

h2:root {
  font-size: calc(1vw + 1vh + .5vmin);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 48px;
  z-index: 10;
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}

#headerImage {
  height: 110px;
  width: 100%;
  background: #7c7c7c;
  position: static;
  overflow: hidden;
  text-align: left;
  background-image: url("https://i.imgur.com/ZT2h7aO.jpg");
  background-repeat: repeat-x;
  padding: 0px;
  background-size: cover;
}

div.HeaderText {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 47%, rgba(0, 0, 0, 0.65) 94%);
  overflow: hidden;
  margin-top: 0px;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  padding: 0px 10px;
  width: 100%;
  height: 110vh;
  max-height: 110px;
  background-size: cover;
  position: fixed;
  display: block;
  -webkit-text-stroke: 1px #330080;
}

.first {
  background: linear-gradient(to bottom, rgba(93, 49, 117, 1) 0%, rgba(85, 23, 193, 1) 100%);
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.homeSlides {
  display: none;
}

.homeSlides img {
  width: 725px;
  height: 420px;
}

img {
  vertical-align: middle;
}

footer {
  overflow: inherit;
}

/* Slideshow container */
#slideshow-container {
  margin: auto;
  position: absolute;
  left: 0px;
  width: 750px;
  padding: 10px;
}

/* Caption text */
.slideshow-caption {
  box-shadow: 0 1px 2px 0 black;
  font-family: "Roboto", sans-serif;
  background: black;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 400px;
  width: 701px;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px
  }
}

.ArticleCard_card {
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 2px solid transparent;
  border-bottom: 1px solid #d5d5d5;
  box-sizing: border-box;
  left: 770px;
  font-family: "Roboto", sans-serif;
  width: 850px;
}

.ArticleCard_card::after {
  content: "";
  display: table;
  clear: both;
}

.ArticleCard_card:hover {
  padding-bottom: 0;
  border: 2px solid #330066;
}

.ArticleCard_card:hover .ArticleCard_thumbnailImage--2ASrz {
  opacity: 1;
}

.ArticleCard_articleLink {
  display: block;
  outline: none;
  text-decoration: none;
  color: inherit;
}

.ArticleCard_article {
  padding: 5px 5px 5px 10px;
}

.ArticleCard_active {
  opacity: 1;
}

.ArticleCard_articleEsport {
  color: #a64dff;
}

.ArticleCard_articleTitle {
  padding: 10px 0;
  color: #b3b3b3;
}

.ArticleCard_articleBody {
  color: #b3b3b3
}

.ArticleCard_articleDate {
  color: #838694;
}

.NewsCard_container {
  box-shadow: 0 1px 2px 0 black;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #333333;
  border: 1px black solid;
  height: 340px;
  width: 350px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.NewsCard_container:hover {
  border-color: #a64dff;
}

.NewsCard_link {
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
}

.NewsCard_header {
  display: flex;
  padding: 10px;
  color: white;
  background: linear-gradient(to bottom, rgba(63, 29, 99, 1) 0%, rgba(47, 0, 76, 1) 100%);
  box-shadow: 0 1px 2px 0 black;
}

.NewsCard_date {
  padding-left: 190px;
  text-align: right;
}

.NewsCard_featureImage {
  box-shadow: 0 1px 2px 0 black;
  display: flex;
  justify-content: center;
  height: 250px;
  width: 348px;
  overflow: hidden;
}

.NewsCard_thumbnail {
  box-shadow: 0 1px 2px 0 black;
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.NewsCard_bodyContainer {
  position: relative;
  height: calc(100% - 311px);
  overflow: hidden;
  padding: 10px;

  &::after {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, $background-tertiary 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    content: "";
  }
}

.NewsCard_title {
  font-size: 14px;
  line-height: inherit;
  margin-bottom: 10px;
  padding: 10px;
}

@media (max-width: 500px) {
  body {
    margin-top: 140px;
  }

  .NewsCard_container {
    height: auto;
    width: auto;
    max-width: 325px;
  }

  .NewsCard_date {
    padding-left: 160px;
    text-align: right;
  }

  .NewsCard_featureImage {
    height: 200px;
    width: auto;
  }
}

@media (max-width: 800px) {
  .NewsCard_container {
    height: auto;
  }

  .NewsCard_featureImage {
    height: 200px;
    width: auto;
  }
}

.NewsCard_column {
  float: left;
  padding: 10px;
}

/* Clearfix (clear floats) */
.NewsCard_row::after {
  content: "";
  clear: both;
}

.image_column {
  float: left;
}

/* Clearfix (clear floats) */
.image_row::after {
  content: "";
  clear: both;
}

.image_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(to bottom, rgba(150, 150, 150, 0.5) 0%, rgba(89, 89, 89, 0.5) 100%);
}

.image_box .image_box_caption {
  font-family: "Roboto", sans-serif;
  color: white;
  bottom: 0px;
  font-size: 18px;
  display: inline-block;
  position: fixed;
  padding: 8px 12px;
  background: black
}

.image_box {
  box-shadow: 0 0.5px 0.5px 0 black;
  box-sizing: border-box;
  position: relative;
  display: flex;
  padding: 4px;
}

#image_container {
  display: block;
  position: relative;
  padding: 5px;
  padding-left: 40px;
  width: auto;
}

.image_box:hover .image_overlay {
  opacity: 1;
}

.image_box .image_overlay {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.image_box:hover .image_overlay,
.image_box.active .image_overlay {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .image_container {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .image_container {
    flex: 100%;
    max-width: 100%;
  }
}

#FN_headline_container {
  display: block;
  position: relative;
  padding: 0px;
  margin: 0px;
  background: url("https://i.imgur.com/oXvVDC1.png");
  background-position: center;
  background-size: cover;
  height: 370px;
  width: 100%;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, .8);
}

.FN_headline_box_caption {
  font-family: "Titillium", sans-serif;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  padding: 5px 50px 5px 20px;
  font-size: 2em;
  display: inline-block;
  width: 100%;
  margin-top: 295px;
}

@media (min-width: 500px) {
  #FN_headline_container {
    height: 230px;
  }

  .FN_headline_box_caption {
    margin-top: 175px;
  }

  h2 {
    font-size: 0.4em;
  }
}

@media (min-width: 768px) {
  #FN_headline_container {
    height: 320px;
  }

  .FN_headline_box_caption {
    margin-top: 260px;
  }

  h2 {
    font-size: 0.6em;
  }
}

@media (min-width: 992px) {
  #FN_headline_container {
    height: 370px;
  }

  .FN_headline_box_caption {
    margin-top: 290px;
  }

  h2 {
    font-size: 0.8em;
  }
}

.FN_report_container {
  padding: 15px 0px 0px 20px;
}

.FN_NewsCard_container {
  box-shadow: 0 1px 2px 0 black;
  font-family: "Titillium", sans-serif;
  font-size: 14px;
  border: 1px black solid;
  height: auto;
  width: 350px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(58, 0, 66, 1) 1%, rgba(49, 0, 86, 1) 100%);
}

.FN_NewsCard_container:hover {
  border-color: #a64dff;
}

.FN_NewsCard_link {
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
}

.FN_NewsCard_header {
  box-shadow: 0 1px 2px 0 black;
  font-family: "Roboto", sans-serif;
  display: flex;
  padding: 10px;
  color: white;
  background: linear-gradient(to bottom, rgba(58, 0, 66, 1) 1%, rgba(49, 0, 86, 1) 100%);
}

.FN_NewsCard_date {
  padding-left: 210px;
  text-align: right;
}

.FN_NewsCard_featureImage {
  display: flex;
  justify-content: center;
  width: 348px;
  height: 200px;
  overflow: hidden;
}

.FN_NewsCard_thumbnail {
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.FN_NewsCard_bodyContainer {
  position: relative;
  height: calc(100% - 311px);
  overflow: hidden;
  padding: 10px;

  &::after {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, $background-tertiary 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    content: "";
  }
}

.FN_NewsCard_title {
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: inherit;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
}

@media (max-width: 500px) {
  .FN_NewsCard_container {
    height: auto;
    width: inherit;
    min-width: 315px;
  }

  .FN_NewsCard_date {
    padding-left: 160px;
    text-align: right;
  }

  .FN_NewsCard_row {
    padding: 100px 0px 0px 10px;
  }

  .FN_NewsCard_featureImage {
    height: 250px;
    width: auto;
  }
}

@media (max-width: 800px) {
  .FN_NewsCard_container {
    height: auto;
  }

  .FN_NewsCard_featureImage {
    height: 250px;
    width: auto;
  }
}

.FN_NewsCard_column {
  float: left;
  padding: 10px;
}

/* Clearfix (clear floats) */
.FN_NewsCard_row::after {
  content: "";
  clear: both;
}

#CSGO_headline_container {
  display: block;
  position: relative;
  padding: 0px;
  margin: 0px;
  background: url("https://i.imgur.com/VAJpbih.png");
  background-position: center;
  background-size: cover;
  height: 370px;
  width: 100%;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, .8);
}

.CSGO_headline_box_caption {
  font-family: "Titillium", sans-serif;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  padding: 5px 50px 5px 20px;
  font-size: 2em;
  display: inline-block;
  width: 100%;
  margin-top: 325px;
}

@media (min-width: 500px) {
  #CSGO_headline_container {
    height: 220px;
  }

  .CSGO_headline_box_caption {
    margin-top: 175px;
  }

  h2 {
    font-size: 0.4em;
  }
}

@media (min-width: 768px) {
  #CSGO_headline_container {
    height: 320px;
  }

  .CSGO_headline_box_caption {
    margin-top: 260px;
  }

  h2 {
    font-size: 0.6em;
  }
}

@media (min-width: 992px) {
  #CSGO_headline_container {
    height: 370px;
  }

  .CSGO_headline_box_caption {
    margin-top: 290px;
  }

  h2 {
    font-size: 0.8em;
  }
}

.CSGO_report_container {
  padding: 15px 0px 20px 0px;
  margin-left: 0px;
}

.CSGO_NewsCard_container {
  box-shadow: 0 1px 2px 0 black;
  font-family: "Titillium", sans-serif;
  font-size: 14px;
  border: 1px black solid;
  height: auto;
  width: 350px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba(58, 0, 66, 1) 1%, rgba(49, 0, 86, 1) 100%);
}

.CSGO_NewsCard_container:hover {
  border-color: #a64dff;
}

.CSGO_NewsCard_link {
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
}

.CSGO_NewsCard_header {
  font-family: "Roboto", sans-serif;
  display: flex;
  padding: 10px;
  color: white;
  background: linear-gradient(to bottom, rgba(58, 0, 66, 1) 1%, rgba(49, 0, 86, 1) 100%);
}

.CSGO_NewsCard_date {
  padding-left: 210px;
  text-align: right;
}

.CSGO_NewsCard_featureImage {
  display: flex;
  justify-content: center;
  width: 348px;
  height: 200px;
  overflow: hidden;
}

.CSGO_NewsCard_thumbnail {
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.CSGO_NewsCard_bodyContainer {
  position: relative;
  height: calc(100% - 311px);
  overflow: hidden;
  padding: 10px;

  &::after {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, $background-tertiary 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    content: "";
  }
}

.CSGO_NewsCard_title {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: inherit;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
}

@media (max-width: 500px) {
  .CSGO_NewsCard_container {
    height: auto;
    width: inherit;
    max-width: 325px;
  }

  .CSGO_NewsCard_date {
    padding-left: 160px;
    text-align: right;
  }

  .CSGO_NewsCard_row {
    padding: 100px 0px 0px 10px;
  }

  .CSGO_NewsCard_featureImage {
    height: 250px;
    width: auto;
  }
}

@media (max-width: 800px) {
  .CSGO_NewsCard_container {
    height: auto;
  }

  .CSGO_NewsCard_featureImage {
    height: 250px;
    width: auto;
  }
}

.CSGO_NewsCard_column {
  float: left;
  padding: 10px;
}

/* Clearfix (clear floats) */
.CSGO_NewsCard_row::after {
  content: "";
  clear: both;
}

.csgoScorecard_match-result {
  box-shadow: 0 1px 2px 0 black;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.csgoScorecard_match-result-top {
  background: linear-gradient(to bottom, rgba(45, 48, 51, 1) 1%, rgba(0, 0, 0, 1) 100%);
  border-bottom: 1px solid black;
  font-size: 10px;
  padding: 6px;
  display: flex;
  justify-content: space-between
}

.csgoScorecard_match-result-top .csgoScorecard_match-type {
  text-align: right;
}

.csgoScorecard_match-result-middle {
  display: flex;
  text-align: center;
}

.csgoScorecard_match-result-team-con {
  flex: 1 0 0;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px
}

.csgoScorecard_match-result-team-flag-left, .csgoScorecard_match-result-team-flag-right {
  width: auto;
  height: 93px;
  position: absolute;
  top: 0;
  opacity: .15;
  z-index: 1;
  border: 0
}

.csgoScorecard_match-result-team-flag-left {
  -webkit-mask-image: linear-gradient(to right, white 10%, rgba(255, 255, 255, 0) 100%);
  left: 0
}

.csgoScorecard_match-result-team-flag-right {
  -webkit-mask-image: linear-gradient(to left, white 10%, rgba(255, 255, 255, 0) 100%);
  right: 0
}

.csgoScorecard_match-result-team-logo-con {
  margin: 0 auto;
  width: 50px;
  height: 50px
}

.csgoScorecard_match-result-score {
  display: inline-block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  padding: 2px;
  vertical-align: middle;
  font-size: 18px;
  color: white;
  font-weight: 700
}

.csgoScorecard_match-result-score.scorelost {
  background-color: red;
}

.csgoScorecard_match-result-score.scorewon {
  background-color: green;
}

.csgoScorecard_match-result-map {
  display: flex;
  text-align: center;
  border-top: 1px solid black;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: black;
}

.csgoScorecard_match-result-map:nth-last-of-type(even) {
  background-color: #2D2D2D;
}

.csgoScorecard_match-result-map-score-faded {
  flex: 1 0 0;
  opacity: .5
}

.csgoScorecard_match-result-map-score-won {
  flex: 1 0 0;
  color: #08a500;
  font-weight: 700
}

.csgoScorecard_match-result-map-score-lost {
  flex: 1 0 0;
  color: #480303;
  font-weight: 700
}

.csgoScorecard_match-stats {
  box-shadow: 0 1px 2px 0 black;
  font-size: 12px
}

.csgoScorecard_match-stats-table {
  width: 100%;
  font-size: 12px;
}

.csgoScorecard_match-stats-header {
  background: linear-gradient(to bottom, rgba(45, 48, 51, 1) 1%, rgba(0, 0, 0, 1) 100%);
}

.csgoScorecard_match-stats-row {
  border-top: 1px solid black;
  background-color: #272727;
}

.csgoScorecard_match-stats-row:nth-child(even) {
  background-color: black;
}

.csgoScorecard_match-stats-team {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0
}

.csgoScorecard_match-stats-kd {
  width: 55px;
  text-align: center
}

.csgoScorecard_match-stats-kdDiff {
  width: 34px;
  text-align: center
}

.csgoScorecard_match-stats-adr {
  width: 34px;
  text-align: center
}

.csgoScorecard_match-stats-rating {
  width: 80px;
  text-align: center
}

.csgoScorecard_match-stats-logo {
  height: 16px
}

.csgo_standings {
  margin: 3px;
  display: inline-block;
  padding: 10px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

#cod-socials {
  margin: auto;
  position: fixed;
  right: 0px;
  width: 50px;
  padding: 10px;
  text-align: left;
}

.socials {
  margin: auto;
  bottom: 0px;
  padding: 15px 0px 0px 20px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  box-shadow: 0 1px 2px 0 black;
  background: #3B5998;
  color: white;
}

.fa-twitter {
  box-shadow: 0 1px 2px 0 black;
  background: #55ACEE;
  color: white;
}

.fa-google {
  box-shadow: 0 1px 2px 0 black;
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  box-shadow: 0 1px 2px 0 black;
  background: #007bb5;
  color: white;
}

.fa-youtube {
  box-shadow: 0 1px 2px 0 black;
  background: #bb0000;
  color: white;
}

.fa-instagram {
  box-shadow: 0 1px 2px 0 black;
  background: #125688;
  color: white;
}

.fa-pinterest {
  box-shadow: 0 1px 2px 0 black;
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  box-shadow: 0 1px 2px 0 black;
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
